# Dependency directories
node_modules/
**/node_modules/

bower_components/

# Logs
*.log
logs/
pids/
*.pid

# Coverage reports
coverage/

# Temporary files
tmp/
temp/
*.swp
*.swo

# Built files
dist/
**/dist/
.next/
**/.next/
build/
**/build/

# API keys and secrets
.env
.env.local
.env.development
.env.test
.env.production

# OS metadata
.DS_Store
Thumbs.db

# Editors and IDEs
.idea/
.vscode/
*.iml

# TypeScript
*.tsbuildinfo

# Other system files
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore lock files for other package managers
yarn.lock
package-lock.json

# Optional: Ignore specific project files
*.sublime-project
*.sublime-workspace