@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --foreground: var(--foreground-light);
  }
}

body {
  @apply bg-background text-foreground font-sans;
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }
  .text-foreground {
    color: var(--foreground);
  }
}

@layer components {
  .form-input {
    @apply w-full p-3 bg-gray-700 text-white rounded-lg border border-gray-600 outline-none focus:bg-gray-600 focus:shadow-custom-hover transition;
  }

  .form-textarea {
    @apply w-full p-3 bg-gray-700 text-white rounded-lg border border-gray-600 outline-none focus:bg-gray-600 focus:shadow-custom-hover transition;
  }

  .btn {
    @apply px-4 py-2 rounded-lg text-white;
  }

  .btn-primary {
    @apply bg-button-blue hover:bg-button-blue-hover;
  }

  .btn-secondary {
    @apply bg-gray-600 hover:bg-gray-500;
  }
}
