<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Create New Recipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/recipe.css">

  </head>

  <body>
    <h1>The Recipe Finder</h1>
    <h2>This is where you will add new recipes to the database</h2>
    <form name="dataInput" onsubmit="event.preventDefault(); sendData()">
      <separator> FOR RECIPE <br><br> </separator>
      <label for="rName">Recipe Name:</label><br>
      <input type="text" id="rName" name="rName" required><br><br>
      <label for="cookTime">Cook Time:</label><br>
      <input type="text" id="cookTime" name="cookTime"><br><br>
      <label for="prepTime">Preparation Time:</label><br>
      <input type="text" id="prepTime" name="prepTime"><br><br>
      <label for="totalTime">Total Time:</label><br>
      <input type="text" id="totalTime" name="totalTime"><br><br>
      <label for="servings">Servings:</label><br>
      <input type="text" id="servings" name="servings"><br><br>
      <br>
      <separator> FOR INGREDIENTS <br><br> </separator>
      <label for="iName">Ingredient Name:</label><br>
      <input type="text" id="iName" name="iName" required><br><br>
      <label for="iColor">Ingredient Color:</label><br>
      <input type="text" id="iColor" name="iColor"><br><br>
      <!-- DROPDOWN MENU FOR INGREDIENT CATEGORY -->
      <label for="iCategory">Ingredient Category</label>
      <select name="iCategory" id="iCategory" required>
        <option value="" disabled selected>Select your option</option>
        <option value="vegetable">Vegetable</option>
        <option value="fat">Fat</option>
        <option value="noodle">Noodle</option>
        <option value="bread">Bread</option>
        <option value="dairy">Dairy</option>
        <option value="protein">Protein</option>
      </select>
      <br><br>
      <!-- <label for="iCategory">Ingredient Category:</label><br>
      <input type="text" id="iCategory" name="iCategory"><br><br> -->

      <input type="submit" value="Submit" id="submit">
  </insL>

  <script src="/js/recipe.js"></script>
  <script src="/js/global.js"></script>
  </body>

</html>
<!--recipe name, cook time, prep time, total time, servings, directions, ingredients -->
<!-- data fields for ingredients: name, color and category(dropdown for this one) -->
<!-- fat, noodle, bread, dairy, protein -->
