body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* image used */
  background-image: url("bg.jpg");
  /* height used */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
