body {
  background-color: #000000;
  font-size: 15px;
  color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  margin: 0;
}
h2 {
  color: color: #FFFFFF;
  font-size: 25px;
}
separator {
  color: #f55549;
}
